h1 {
  text-align: center;
  size: 5em;
}

h2 {
  size: 3em;
}

body {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1%;
  padding: 1%;
  font-family: 'Courier New', Courier, monospace;
  background: white;
  border-radius: 10px;
}

.assignment {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
}

.course {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
}

.listBody {
  background-color: dimgray;
  padding: 5% 2% 5% 2%;
  border-radius: 10px;
}

html {
  background-color: aquamarine;
}

.grade {
  color:dimgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: right;
  font-size: 0.75em;
  padding-right: 5%;
}

div.modal {
  z-index: 1;
  margin: auto;
  width: auto;
  padding: 1%;
  background-color: white;
  border-radius: 10px;
}

button {
  border: 0;
  border-radius: 50%;
}

button.add {
  background-color: inherit;
}

button.add:hover {
  background-color: green;
}

button.delete {
  background-color: inherit;
  float: right;
}

button.delete:hover {
  background-color: red;
}

button.minimize {
  background-color: inherit;
  float: right;
}

button.minimize:hover {
  background-color: dimgray;
}