h1 {
  text-align: center;
  size: 5em;
}

h2 {
  size: 3em;
}

body {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1%;
  font-family: 'Courier New', Courier, monospace;
}

html {
  background-color: aquamarine;
}

p.grade {
  color:dimgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: right;
  font-size: inherit;
}